# /etc/inputrc - global inputrc for libreadline
# See readline(3readline) and `info rluserman' for more information.
$include /etc/inputrc

# alternate mappings for "page up" and "page down" to search the history
# "\e[5~": history-search-backward
# "\e[6~": history-search-forward

#"\e[1;5C": forward-word       # Ctrl + ->
#"\e[1;5D": backward-word      # Ctrl + <-

# on xterm and konsole, or at least on konsole, default configuration is:
# backpsace - ^?, Ctrl + backspace - ^H
"\e[3;5~":  kill-word               # Ctrl + Del
"\C-H":     backward-kill-word      # Ctrl + Backspace
"\C-x\C-H": backward-kill-line      # Ctrl + x, Ctrl + Backspace
