[user]
	name = Dmitry Lisachenko
	email = xdemonx07@gmail.com
[push]
	default = simple
[pull]
	ff = only
[core]
	pager = less -F
	quotepath = false
[diff]
	tool = kompare
[url "https://aur.archlinux.org/"]
	insteadOf = aur:
[merge]
	guitool = kdiff3
[mergetool]
	keepBackup = false
[rerere]
	enabled = true
[init]
	defaultBranch = master
