[user]
	name = Dmitry Lisachenko
	email = xdemonx07@gmail.com
[push]
	default = simple

[core]
	pager = less -F
	quotepath = false
[pull]
	ff = only
[diff]
	tool = kompare
[url "https://aur.archlinux.org/"]
	insteadOf = aur:
[merge]
	guitool = kdiff3
[mergetool]
	keepBackup = false
